{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Encyclopedia
    {% endif %}
{% endblock %}


{% block body %}
    {% if title %}
        {% block body_nav %}
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_entry' title %}">Edit</a>
                </li>
            </ul>
        {% endblock body_nav %}
    {% endif %}

    {{ content|safe }}
{% endblock %}
